@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
}

<h1>List</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
                Price
            </th>
            <th>
                Available Copies
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Title
                </td>
                <td>
                    @obj.Author
                </td>
                <td>
                    @obj.ISBN
                </td>
                <td>
                    @obj.Price
                </td>
                <td>
                    @obj.Copies
                </td>
                <td>
                    <a asp-controller="Display" asp-action="Details" asp-route-id="@obj.BookId" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
